{% extends "base.html" %}

{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail from product_images %}
{% load get_product_image_thumbnail from product_images %}
{% load i18n %}
{% load markdown from markdown %}
{% load placeholder %}
{% load static %}
{% load taxed_prices %}
{% load fonts %}

{% block title %}
  {% if product.seo_title %}
    {{ product.translated.seo_title }}
  {% else %}
    {{ product.translated.name }} - {{ block.super }}
  {% endif %}
{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock stylesheet %}

{% block meta_tags %}
  <meta property="og:title" content="{{ product.translated.seo_title|default:product.translated.name }}">
  <meta property="og:description" content="{{ product.translated.seo_description|default:"" }}">
  <meta name="description" content="{{ product.translated.seo_description|default:"" }}">

  {% build_absolute_uri request=request location=product.get_absolute_url as product_url %}
  <meta property="og:url" content="{{ product_url }}">
  <link rel="canonical" href="{{ product_url }}">
  <link href="{% get_fonts_url %}" rel="stylesheet">

  {% get_product_image_thumbnail product.get_first_image size=510 method="thumbnail" as product_image %}
  {% if product_image %}
    <meta property="og:image" content="{{ product_image }}" />
    <meta property="og:image:width" content="510">
    <meta property="og:image:height" content="510">
  {% else %}
    <meta property="og:image" content="{% static "images/block1.png" %}">
  {% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
    {% if product.category %}
      <li>
        <a href="{{ product.category.get_absolute_url }}">{{ product.category.translated }}</a>
      </li>
    {% endif %}
    <li>
      <a href="{{ product.get_absolute_url }}">{{ product.translated }}</a>
    </li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
  {% if not is_visible %}
    <div class="alert alert-warning" role="alert">
      {% blocktrans trimmed with date=product.publication_date|date context "Product details text" %}
        <strong>Warning!</strong>
        You are previewing a product that will become visible on <strong>{{ date }}</strong>.
      {% endblocktrans %}
    </div>
  {% endif %}
  <div class="row product__customizer" style="display: none;">
    <div class="col-md-12">
        <h2 id="canvas-front-header">{% trans "Front" %}</h2>
        <h2 id="canvas-back-header" style="display: none;">{% trans "Back" %}</h2>
        <div class="product__customizer__wrapper">
            <div id="product__customizer__nav">
                <div class="row">
                <div class="col-6">
                    <button id="add-image" data-toggle="modal" data-target="#ImageUploadModal"><i class="fas fa-image"></i></button>
                    <!-- Modal for uploading images -->
                    <div class="modal fade" id="ImageUploadModal" tabindex="-1" role="dialog" aria-labelledby="ImageUploadModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="ImageUploadModalLabel">{% trans "Image upload" %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <input type="file" id="ImageUploadInput"></input>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" class="btn btn-primary">{% trans "Upload" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of: Modal for uploading images -->
                    <button id="add-text"><i class="fas fa-font"></i></button>
                    <button id="show-layers" data-toggle="modal" data-target="#LayerListModal"><i class="fas fa-th-list"></i></button>
                    <!-- Modal for layer list -->
                    <div class="modal fade" id="LayerListModal" tabindex="-1" role="dialog" aria-labelledby="LayerListModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="LayerListModalLabel">{% trans "Layer list" %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <ul id="layers">
                              </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of: Modal for layer list -->
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="float-right">
                    <button id="rotate-canvas"><i class="fas fa-sync-alt"></i></button>
                    <button id="save-canvas"><i class="fas fa-save"></i></button>
                </div>
                </div>
            </div>
            {% if product.is_glass %}
            <div id="canvas-wrapper" canvas-max-size="1110" canvas_image="{{ product.clippath.image.url }}">
                <canvas id="canvas-front"></canvas>
                <canvas id="canvas-back" style="display: none;"></canvas>
            </div>
            {% elif product.is_sign %}
            {% endif %}
        </div>
    </div>
  </div>

  <div class="row product">
    <script type="application/ld+json">{{ json_ld_product_data|safe }}</script>
    <div class="col-md-6 col-12 product__gallery">
      {% with images=product_images %}
        {% if images %}
          <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner" role="listbox">
              {% for image in images %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <div class="product-image">
                    <img class="d-block img-fluid lazyload lazypreload"
                         data-src="{% get_thumbnail image.image method="thumbnail" size=540 %}"
                         data-srcset="{% get_thumbnail image.image method="thumbnail" size=540 %} 1x, {% get_thumbnail image.image method="thumbnail" size=1110 %} 2x"
                         alt=""
                         src="{% placeholder size=540 %}">
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if images|length > 1 %}
              <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
              <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
            {% endif %}
            <ol class="carousel-indicators d-none d-md-block">
              {% for image in images %}
                {% if images|length > 1 %}
                  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}>
                    <img data-src="{% get_thumbnail image.image method="thumbnail" size=60 %}"
                         data-srcset="{% get_thumbnail image.image method="thumbnail" size=60 %} 1x, {% get_thumbnail image.image method="thumbnail" size=120 %} 2x"
                         alt=""
                         class="lazyload lazypreload"
                         src="{% placeholder size=60 %}">
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        {% else %}
          <img data-src="{% placeholder size=540 %}"
               data-srcset="{% placeholder size=540 %} 1x, {% placeholder size=1080 %} 2x"
               alt=""
               class="img-fluid lazyload lazypreload">
        {% endif %}
      {% endwith %}
    </div>
    <div class="col-md-6 col-12 product__info">
      <h1 class="product__info__name">
        {{ product.translated }}
      </h1>
      <p>
      {% if product.clippath %}
        <a href="#" id="customize-product-link">
          {% trans "Customize product" %}
        </a>
      {% else %}
        {% trans "Not customizable" %}
      {% endif %}
      </p>
      {% if user.is_staff %}
        <p>
          <a href="{% url "dashboard:product-details" pk=product.pk %}">
            {% trans "Edit in dashboard" context "Product details link text" %}
          </a>
        </p>
      {% endif %}
      {% if availability.available %}
        {% if show_variant_picker %}
          <div id="variant-price-component"></div>
        {% else %}
          <h2 class="product__info__price">
            <span>{% price_range availability.price_range %}</span>
            {% if availability.on_sale %}
              <small class="product__info__price__undiscounted">
                {% price availability.price_range_undiscounted %}
              </small>
            {% endif %}
            {% if availability.price_range_local_currency %}
              <br>
              <small class="text-info">
                &asymp;
                {% price availability.price_range_local_currency %}
              </small>
            {% endif %}
            {% if request.taxes %}
              <small>
                {% tax_rate request.taxes product.tax_rate as tax_rate %}
                {% if site.settings.display_gross_prices %}
                  {% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
                    including {{ tax_rate }}% VAT
                  {% endblocktrans %}
                {% else %}
                  {% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
                    excluding {{ tax_rate }}% VAT
                  {% endblocktrans %}
                {% endif %}
              </small>
            {% endif %}
          </h2>
        {% endif %}
      {% endif %}
      {% if is_visible and product.is_in_stock %}
        {% block orderform %}
          {% if show_variant_picker %}
            {% csrf_token %}
            <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'product:add-to-checkout' product_id=product.pk slug=product.get_slug %}"></div>
          {% else %}
            <form id="product-form" role="form" class="product-form clearfix" method="post" action="{% url 'product:add-to-checkout' product_id=product.pk slug=product.get_slug %}" novalidate>
              {% csrf_token %}
              {% bootstrap_field form.variant %}
              <div class="product__info__quantity">
                {% bootstrap_field form.quantity %}
              </div>

              <div class="form-group product__info__button">
                <button class="btn btn-primary">
                  {% trans "Add to cart" context "Product details primary action" %}
                </button>
              </div>
            </form>
          {% endif %}
        {% endblock %}
        <div class="product__info__form-error">
          <small class="text-danger"></small>
        </div>

      {% else %}
        <p class="alert alert-warning">
          {% blocktrans context "Product details text" %}This product is currently <strong>unavailable</strong>.{% endblocktrans %}
        </p>
      {% endif %}
      <div class="product__info__description">
        <h3>{% trans "Description" context "Product details title" %}</h3>
        <hr>
        {{ product.translated.description|safe }}
      </div>
      <table>
        {% for attribute, value in product_attributes.items %}
          <tr>
            <td>{{ attribute.translated }}:</td>
            <td><strong>{{ value.translated }}</strong></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <script type="text/javascript">
      fonts_from_django = {{ fonts|safe }};
  </script>
{% endblock content %}
