
{% extends "dashboard/base.html" %}

{% load i18n %}
{% load materializecss %}
{% load price from taxed_prices %}
{% load static %}
{% load status %}
{% load utils %}

{% block title %}{{ product }} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Product form breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ product }}
      </span>
    </li>
  </ul>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col s12 l8">
      <div class="card">
        <div class="card-content">
          <div class="product-header">
            <div class="product-header__title">
              <span class="card-title">
                {{ product }}
              </span>
            </div>
            <div class="product-header__switch">
              <form id="toggle-publish-form" action="{% url 'dashboard:product-publish' product.pk %}">
              {% csrf_token %}
                <div class="switch" id="product-is-published">
                  <label>
                    <input id="toggle-publish-switch" type="checkbox" {% if product.is_published %} checked {% endif %}>
                    <span class="lever"></span>
                    <span class="label">
                      {% if product.is_published %}
                        {% trans "Published" context "Product field" %}
                      {% else %}
                        {% trans "Draft" context "Product field" %}
                      {% endif %}
                    </span>
                  </label>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h5>{% render_availability_status product %}</h5>
            </div>
          </div>
          <div class="product-description">
            <p>
              {{ product.description | safe }}
            </p>
          </div>
        </div>
        <div class="card-action">
          <a href="{% url "dashboard:product-update" product.pk %}" class="btn-flat waves-effect">
            {% trans "Edit product" context "Product action" %}
          </a>
          <a href="#base-modal" data-href="{% url 'dashboard:product-delete' pk=product.pk %}" class="modal-trigger-custom btn-flat waves-effect">
            {% trans "Remove product" context "Product action" %}
          </a>
          <a href="{{ product.get_absolute_url }}" target="_blank" class="btn-flat waves-effect">
            {% trans "View on site" context "Product action" %}
          </a>
        </div>
      </div>
      {% if not no_variants %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">{% trans "Variant" %}</span>
          </div>
          <div class="data-table-header-action">
            <a href="{% url 'dashboard:variant-add' product_pk=product.pk %}" class="btn-flat waves-effect">{% trans "Add" %}</a>
          </div>
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th>{% trans "SKU" %}</th>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Status" %}</th>
                  <th class="right-align">
                    {% if site.settings.include_taxes_in_prices %}
                      {% trans "Gross price" %}
                    {% else %}
                      {% trans "Net price" %}
                    {% endif %}
                  </th>
                  <th class="right-align">{% trans "Margin" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for variant in variants %}
                  <tr data-action-go="{% url "dashboard:variant-details" product_pk=product.pk variant_pk=variant.pk %}">
                    <td>{{ variant.sku }}</td>
                    <td>{{ variant }}</td>
                    <td class="wide">{% render_variant_availability_status variant %}</td>
                    <td class="right-align">
                      {% price variant.base_price %}
                    </td>
                    <td class="right-align">
                      {% margins_for_variant variant=variant as margins %}
                      {% if margins|length > 1 %}
                        {{ margins|first }}% - {{ margins|last }}%
                      {% elif margins %}
                        {{ margins|first }}%
                      {% else %}
                        -
                      {% endif %}
                    </td>
                    <td><a href="{% url 'dashboard:variant-update' product_pk=product.pk variant_pk=variant.pk %}" class="btn-flat waves-effect">{% trans "Edit" %}</a></td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="5">{% trans "No variants found" context "Dashboard product details page" %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col s12 l4">
      <div class="row no-margin">
        <div class="col s12">
          <div class="card">
            <div class="data-table-header">
              <div class="data-table-title">
                <h5>
                  {% trans "Pricing" context "Product pricing card header" %}
                </h5>
                <h6>
                  {% if product.charge_taxes %}
                    {% blocktrans trimmed with tax_rate=product.tax_rate context "Product pricing card header subtitle" %}
                      Taxes are charged ({{ tax_rate }} tax rate)
                    {% endblocktrans %}
                  {% else %}
                    {% trans "Taxes are not charged" context "Product pricing card header subtitle" %}
                  {% endif %}
                </h6>
              </div>
            </div>
            <div class="data-table-container">
              <table class="data-table bordered highlight">
                <tbody>
                  <tr>
                    <td>
                      {% if site.settings.include_taxes_in_prices %}
                        {% trans "Gross sale price" context "Product field" %}
                      {% else %}
                        {% trans "Net sale price" context "Product field" %}
                      {% endif %}
                    </td>
                    <td class="right-align">
                      {% price sale_price display_gross=site.settings.include_taxes_in_prices %}
                    </td>
                  </tr>
                  {% if discounted_price != sale_price %}
                    <tr>
                      <td>
                        {% if site.settings.include_taxes_in_prices %}
                          {% trans "Gross discounted price" context "Product field" %}
                        {% else %}
                          {% trans "Net discounted price" context "Product field" %}
                        {% endif %}
                      </td>
                      <td class="right-align">
                        {% price discounted_price display_gross=site.settings.include_taxes_in_prices %}
                      </td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td>
                      {% if site.settings.include_taxes_in_prices %}
                        {% trans "Gross purchase cost" context "Product field" %}
                      {% else %}
                        {% trans "Net purchase cost" context "Product field" %}
                      {% endif %}
                    </td>
                    <td class="right-align">
                      {% price purchase_cost %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans "Margin" context "Product field" %}
                    </td>
                    <td class="right-align">
                      {% if margin %}
                        {% if margin.0 == margin.1 %}
                          {{ margin.0 }}%
                        {% else %}
                          {{ margin.0 }}% - {{ margin.1 }}%
                        {% endif %}
                      {% else %}
                        -
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% if no_variants %}
            <div class="card">
              <div class="data-table-header">
                <div class="data-table-title">
                  <h5>
                    {% trans "Inventory" context "Product variant inventory card header" %}
                  </h5>
                </div>
              </div>
              <div class="data-table-container">
                <table class="data-table bordered highlight">
                  <tbody>
                    <tr>
                      <td>
                        {% trans "Number in stock" context "Dashboard variant details view" %}
                      </td>
                      <td class="right-align">
                        {{ only_variant.quantity }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {% trans "Allocated" context "Dashboard variant details view" %}
                      </td>
                      <td class="right-align">
                        {{ only_variant.quantity_allocated }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">{% trans "Images" %}</span>
              <div class="row">
                {% for image in images %}
                  <div class="col s4">
                    <img class="responsive-img" src="{{ image.image.thumbnail.255x255 }}" srcset="{{ image.image.thumbnail.255x255 }} 1x, {{ image.image.thumbnail.510x510 }} 2x" alt="{{ image.alt }}">
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="card-action">
              <a href="{% url 'dashboard:product-image-list' product.pk %}" class="btn-flat waves-effect">{% trans "Edit images" %}</a>
            </div>
          </div>

          <!-- Custom clippath image -->
          <div class="card">
            <div class="card-content">
              <span class="card-title">{% trans "Clippath" %}</span>
              <div class="row">
                {% if clippath %}
                  <div class="col s4">
                    <img class="responsive-img" src="{{ clippath.image.url }}">
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="card-action">
              <a href="{% url 'dashboard:product-clippath-add' product.pk %}" class="btn-flat waves-effect">{% if clippath %} {% trans "Edit clippath" %} {% else %} {% trans "Add clippath" %} {% endif %}</a>
            </div>
          </div>
          <!-- End of: Custom clippath image -->

        </div>
      </div>
    </div>
  </div>
{% endblock %}
