{% extends "dashboard/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Clippath" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a class="btn-fab-default waves-effect waves-light"
       id="images-btn"
       href="{% url 'dashboard:product-clippath-add' product_pk=product.pk %}"
       title="{% trans "Add image" context "Add image button text" %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Dashboard products list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:product-details" product.pk %}">{{ product }}</a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">{% trans "Clippath" %}</span>
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div id="images" class="tab-content col s12 m9">
      <form action="{% url 'dashboard:product-clippath-upload' product_pk=product.pk %}" id="product-image-form" novalidate>
        <div class="dz-message"></div>
        {% csrf_token %}
        <div class="row">
          <ul class="product-gallery sortable-items" data-post-url="{% url 'dashboard:product-clippath-reorder' product_pk=product.pk %}" data-post-name="ordered_images">
            {% if clippath %}
              <li class="col s12 m6 l4 sortable-item"
                  data-id="{{ clippath.pk }}">
                <div class="card">
                  <div class="card-image product-gallery-item-image">
                    <img class="responsive-img"
                         src="{{ clippath.image.thumbnail.255x255 }}"
                         srcset="{{ clippath.image.thumbnail.255x255 }} 1x, {{ clippath.image.thumbnail.510x510 }} 2x"
                         alt="">
                  </div>
                  <div class="card-content">
                    <span class="product-gallery-item-title card-title black-text" title="{{ clippath.alt }}">
                      {% if clippath.alt %}
                        {{ clippath.alt }}
                      {% else %}
                        <span class="grey-text">
                          {% trans "No description" context "Image card text" %}
                        </span>
                      {% endif %}
                    </span>
                  </div>
                  <div class="sortable__drag-area"></div>
                  <div class="card-action">
                    <a class="btn-flat waves-effect"
                       href="{% url 'dashboard:product-clippath-update' product_pk=product.pk clippath_pk=clippath.pk %}">
                      {% trans "Edit" context "Dashboard edit action" %}
                    </a>
                    <a href="#base-modal"
                       class="btn-flat waves-effect modal-trigger-custom"
                       data-href="{% url 'dashboard:product-clippath-delete' product_pk=product.pk clippath_pk=clippath.pk %}">
                      {% trans "Remove" context "Dashboard remove action" %}
                    </a>
                  </div>
                </div>
              </li>
            {% else %}
              <div class="sortable__drag-area"></div>
            {% endif %}
          </ul>
        <div class="col s12 m6 l4 product-gallery-item dropzone-message">
          <div class="row">
            <span class="product-gallery-item-title product-gallery-item-title--noclip card-title black-text">
              <span class="grey-text hide-on-med-and-down">
                {% trans "Drop image here to upload" context "Image gallery upload box text" %}
              </span>
            </span>
          </div>
        </div>
      </div>
      </form>
      <script type="application/template" id="template">
        <li class="col s12 m6 l4 product-gallery-item dz-preview dz-file-preview" data-id="{{ clippath.pk }}">
          <div class="card">
            <div class="card-image product-gallery-item-image">
              <img data-dz-thumbnail />
            </div>
            <div class="dz-progress">
              <span class="dz-upload" data-dz-uploadprogress></span>
            </div>
            <div class="card-content">
              <span class="product-gallery-item-title card-title black-text">
                <span class="grey-text">
                  {% trans "No description" context "Empty image gallery message" %}
                </span>
              </span>
            </div>
            <div class="sortable__drag-area"></div>
            <div class="card-action">
              <a class="btn-flat waves-effect card-action-edit" data-href-template="{% url 'dashboard:product-clippath-update' product_pk=product.pk clippath_pk=0 %}">
                {% trans "Edit" context "Dashboard edit action" %}
              </a>
              <a href="#base-modal" class="btn-flat waves-effect card-action-delete modal-trigger-custom"
              data-href-template="{% url 'dashboard:product-clippath-delete' product_pk=product.pk clippath_pk=0 %}">
                {% trans "Remove" context "Dashboard remove action" %}
              </a>
            </div>
            </div>
        </li>
      </script>
    </div>
  </div>
{% endblock %}
