{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:product-clippath-delete' product_pk=product.pk img_pk=clippath.pk %}
{% endblock %}

{% block title %}
{% trans "Remove product clippath" context "Modal remove clippath text" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    <div class="center-align">
      <img class="responsive-img" src="{{ clippath.image.thumbnail.255x255 }}"  srcset="{{ clippath.image.thumbnail.255x255 }} 1x, {{ clippath.image.thumbnail.510x510 }} 2x" alt="">
    </div>
    <p>{% trans "Are you sure you want to remove product clippath?" context "Modal remove clippath text" %}</p>
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
