{% load i18n %}
{% load materializecss %}
{% load utils %}

{% if field|is_checkbox %}
  <div class="input input-field col {{ classes.label }}">
    <div class="{{ classes.single_value }}">
      <div>
        {% if field.auto_id %}
          <input id="{{ field.auto_id }}" name="{{ field.html_name }}" class="filled-in" type="checkbox"{% if field.value %} checked="checked" {% endif %} {% if field.field.disabled %} disabled {% endif %}>
          <label for="{{ field.auto_id }}">
            {{ field.label }}
            {% for error in field.errors %}
              <p class="help-block materialize-red-text">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
              <p class="help-block">
                {{ field.help_text|safe }}
              </p>
            {% endif %}
          </label>
        {% endif %}
      </div>
    </div>
  </div>
{% elif field|is_checkbox_select_multiple %}
  <div class="input input-field col {{ classes.label }}">
    {% if field.auto_id %}
      <label class="control-label {{ classes.label }}">
        {{ field.label }}
        {% if not field.field.required %}
          {% trans "(optional)" context "Dashboard form labels" %}
        {% endif %}
      </label>
    {% endif %}
    {% for choice in field %}
      <p>
        <input id="{{ choice.id_for_label }}" name="{{ choice.data.name }}" class="filled-in" type="checkbox" value="{{ choice.data.value }}" {% if choice.data.selected %} checked="checked" {% endif %}>
        <label for="{{ choice.id_for_label }}">
          {{ choice.choice_label }}
        </label>
      </p>
    {% endfor %}
    {% for error in field.errors %}
      <p class="help-block materialize-red-text">
        {{ error }}
      </p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
{% elif field|is_radio %}
  <div class="input input-field col {{ classes.label }}">
    {% if field.auto_id %}
      <label class="control-label {{ classes.label }}">
        {{ field.label }}{% if not field.field.required %} {% trans "(optional)" context "Dashboard form labels" %}{% endif %}
      </label>
    {% endif %}
    {% for choice in field %}
      <p>
        {{ choice.tag }}
        <label for="{{ choice.id_for_label }}">
          {{ choice.choice_label }}
        </label>
      </p>
    {% endfor %}
    {% for error in field.errors %}
      <p class="help-block materialize-red-text">
        {{ error }}
      </p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
{% elif field|is_date_input %}
    <div class="input input-field col {{ classes.label }}">
      <label class="active" for="{{ field.auto_id }}">
        {{ field.label }}
        {% if not field.field.required %}
          {% trans "(optional)" context "Dashboard form labels" %}
        {% endif %}
      </label>
      <input type="date" id="{{ field.auto_id }}" class="datepicker" name="{{ field.name }}"
        value="{% if field.value %}{{ field.value|date:"Y-m-d" }}{% endif %}" data-value="{% if field.value %}{{ field.value|date:"Y-m-d" }}{% endif %}">
      {% for error in field.errors %}
        <p class="help-block materialize-red-text">
          {{ error }}
        </p>
      {% endfor %}
      {% if field.help_text %}
        <p class="help-block">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
    </div>
{% elif field|is_select %}
  <div class="input input-field col {{ classes.label }}">
    {% if field|is_checkbox_select_multiple %}
      {% if field.auto_id %}
        <label class="control-label {{ classes.label }}">
          {{ field.label }}
          {% if not field.field.required %}
            {% trans "(optional)" context "Dashboard form labels" %}
          {% endif %}
        </label>
      {% endif %}
      <div class="{{ classes.value }}">
        {% for choice in field %}
          <p>
            {{ choice.tag }}
            <label for="{{ choice.id_for_label }}">
              {{ choice.choice_label }}
            </label>
          </p>
        {% endfor %}
        {% for error in field.errors %}
          <p class="help-block materialize-red-text">
            {{ error }}
          </p>
        {% endfor %}
        {% if field.help_text %}
          <p class="help-block">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
      </div>
    {% else %}
      <label for="{{ field.id_for_label }}">
        {{ field.label }}{% if not field.field.required %} {% trans "(optional)" context "Dashboard form labels" %}{% endif %}
      </label>
      {{ field }}
      {% for error in field.errors %}
        <p class="help-block materialize-red-text">
          {{ error }}
        </p>
      {% endfor %}
      {% if field.help_text %}
        <p class="help-block">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
    {% endif %}
  </div>
{% elif field|is_textarea %}
  <div class="input input-field col {{ classes.label }}">
    <textarea id="{{ field.auto_id }}"
              class="materialize-textarea {{ field.field.widget.attrs.class }}"
              name="{{ field.name }}"
              {% if field.field.disabled %} disabled {% endif %}>{% if field.value %}{{ field.value }}{% endif %}</textarea>
    {% if field.auto_id %}
      <label class="{{ classes.label }}" for="{{ field.auto_id }}">
        {{ field.label }}
        {% if not field.field.required %}
          {% trans "(optional)" context "Dashboard form labels" %}
        {% endif %}
      </label>
    {% endif %}
    {% for error in field.errors %}
      <p class="help-block materialize-red-text">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
{% elif field|is_file %}
  <div class="input col file-field input-field {{ classes.label }}">
      {% if field.auto_id %}
        <div class="btn">
          <span>
            {% trans "File" %}
          </span>
          <input class="file-chooser" id="{{ field.auto_id }}_0" name="{{ field.name }}_0" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path" type="text" value="{% if field.field.current_image %} {{ field.field.current_image }} {% endif %}">
        </div>
        {% for error in field.errors %}
          <p class="help-block materialize-red-text">
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
      {{ field }}
  </div>
{% elif field|is_versatile_image_ppoi_click_widget %}
  <div class="input col file-field input-field {{ classes.label }}">
    {% if field.auto_id %}
      <label class="{{ classes.label }}" for="{{ field.auto_id }}">
        {{ field.label }}
        {% if not field.field.required %}
          {% trans "(optional)" context "Dashboard form labels" %}
        {% endif %}
      </label>
    {% endif %}
    <div class="btn">
      <span>
        {% trans "File" %}
      </span>
      <input class="file-chooser" id="{{ field.auto_id }}_0" name="{{ field.name }}_0" type="file">
      <input class="ppoi-input" id="{{ field.auto_id }}_1" name="{{ field.name }}_1" type="hidden">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path" type="text">
    </div>
    {% for error in field.errors %}
      <p class="help-block materialize-red-text">
        {{ error }}
      </p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
{% elif field|is_image_preview_widget %}
  <div class="col">
    {{ field }}
  </div>
  <div class="input col file-field input-field {{ classes.label }}">
    {% if field.auto_id %}
      <label class="{{ classes.label }}" for="{{ field.auto_id }}">
        {{ field.label }}
        {% if not field.field.required %}
          {% trans "(optional)" context "Dashboard form labels" %}
        {% endif %}
      </label>
    {% endif %}
    <div class="btn">
      <span>
        {% trans "File" %}
      </span>
      <input class="file-chooser" id="{{ field.auto_id }}_0" name="{{ field.name }}_0" type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path" type="text" value="{{ field.value.display_value }}">
    </div>
    {% for error in field.errors %}
      <p class="help-block materialize-red-text">
        {{ error }}
      </p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
{% elif field|is_date_range %}
  <div class="input-field input-range col s12 {{ classes.label }}">
    <label class="active" for="{{ field.auto_id }}_0">
      {{ field.label }}
      {% if not field.field.required %}
        {% trans "(optional)" context "Dashboard form labels" %}
      {% endif %}
    </label>
    {% for value in field.value %}
      {% comment %} cycle after/before - this is assuming range will only iterate over 2 fields, required for django-filter instead of 0-1 indexes {% endcomment %}
      <input type="date" id="{{ field.auto_id }}" class="datepicker col s5" name="{{ field.name }}_{% cycle 'after' 'before' %}"
        value="{% if value %}{{ value }}{% endif %}" data-value="{% if value %}{{ value }}{% endif %}">
      {% for error in field.errors %}
        <p class="help-block materialize-red-text">
          {{ error }}
        </p>
      {% endfor %}
      {% if field.help_text %}
        <p class="help-block">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
      {% if not forloop.last %}
        <div class="col s2 center-align separator">-</div>
      {% endif %}
    {% endfor %}
  </div>
{% elif field|is_price_range %}
  <div class="input input-field input-range col s12 {{ classes.label }}">
    <label class="active" for="{{ field.auto_id }}_0">
      {{ field.label }}
      {% if not field.field.required %}
        {% trans "(optional)" context "Dashboard form labels" %}
      {% endif %}
    </label>
    <div>
      {% for value in field.value %}
        <div class="input-range--field">
          <div class="input-with-suffix">
            {% comment %} cycle min/max - this is assuming range will only iterate over 2 fields, required for django-filter instead of 0-1 indexes {% endcomment %}
            <input type="number" name="{{ field.name }}_{% cycle 'min' 'max' %}" value="{{ value }}"
                   id="{{ field.auto_id }}_{{ forloop.counter0 }}">
            <div class="input-text-suffix">{{ field.field.widget.currency }}</div>
          </div>
        </div>
        {% for error in field.errors %}
          <p class="help-block materialize-red-text">
            {{ error }}
          </p>
        {% endfor %}
        {% if field.help_text %}
          <p class="help-block">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
        {% if not forloop.last %}
          <div class="center-align separator">-</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% elif field|is_range %}
  <div class="input input-field col s12 {{ classes.label }}">
    <label class="active" for="{{ field.auto_id }}_0">
      {{ field.label }}
      {% if not field.field.required %}
        {% trans "(optional)" context "Dashboard form labels" %}
      {% endif %}
    </label>
    {% for value in field.value %}
      {% for error in field.errors %}
        <p class="help-block materialize-red-text">
          {{ error }}
        </p>
      {% endfor %}
      {% if field.help_text %}
        <p class="help-block">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
      {% comment %} cycle min/max - this is assuming range will only iterate over 2 fields, required for django-filter instead of 0-1 indexes {% endcomment %}
      <input type="number" class="col s5"
             name="{{ field.name }}_{% cycle 'min' 'max' %}" value="{{ value }}"
             id="{{ field.auto_id }}_{{ forloop.counter0 }}">
      {% if not forloop.last %}
        <div class="col s2 center-align separator">-</div>
      {% endif %}
    {% endfor %}
  </div>
{% elif field|is_chars_left %}
  <div class="input input-field col {{ classes.label }}">
    <div class="chars-left">
      <label class="active chars-left__label" for="{{ field.auto_id }}">
        {{ field.label }}
        {% if not field.field.required %}
          {% trans "(optional)" context "Dashboard form labels" %}
        {% endif %}
      </label>
      <span class="chars-left__count">
        <span class="chars-left__count__current" data-bind="{{ field.auto_id }}">
        {% blocktrans with current_chars_count=field.value|length max_chars_count=field.field.max_length context "Message showing how many chars were used out of maximum field's length" %}
          {{ current_chars_count }}</span> of {{ max_chars_count }} characters used
        {% endblocktrans %}
      </span>
    </div>
    {{ field }}
    {% for error in field.errors %}
      <p class="help-block materialize-red-text">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
{% else %}
  <div class="input input-field col {{ classes.label }}">
    {% if field.auto_id %}
      <label class="active" for="{{ field.auto_id }}">
        {{ field.label }}
        {% if not field.field.required %}
          {% trans "(optional)" context "Dashboard form labels" %}
        {% endif %}
      </label>
    {% endif %}
    {{ field }}
    {% for error in field.errors %}
      <p class="help-block materialize-red-text">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
{% endif %}
