{% extends "dashboard/base.html" %}

{% load i18n %}
{% load price from taxed_prices %}
{% load static %}
{% load status %}
{% load utils %}

{% block title %}{{ font }} - {{ block.super }}{% endblock %}

{% block body_class %}body-fonts{% endblock %}

{% block menu_fonts_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:font-list" %}" class="breadcrumb">
        {% trans "Fonts" context "Font form breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:font-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ font }}
      </span>
    </li>
  </ul>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col s12 l8">
      <div class="card">
        <div class="card-content">
          <div class="font-header">
            <div class="font-header__title">
              <span class="card-title">
                <a href="{{ font.get_url }}">{{ font }}</a>
              </span>
            </div>
            <div class="font-header__switch">
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="{% url "dashboard:font-update" font.pk %}" class="btn-flat waves-effect">
            {% trans "Edit font" context "Font action" %}
          </a>
          <a href="#base-modal" data-href="{% url 'dashboard:font-delete' pk=font.pk %}" class="modal-trigger-custom btn-flat waves-effect">
            {% trans "Remove font" context "Font action" %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
