{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% if font.pk %}
    {% trans "Edit" context "Dashboard font list" %} - {{ font }}
  {% else %}
    {% trans "Add new font" context "Font form page title" %}
  {% endif %}
   - {{ block.super }}
{% endblock %}

{% block body_class %}body-fonts{% endblock %}

{% block menu_fonts_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:font-list" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:font-list" %}" class="breadcrumb">
        {% trans "Fonts" context "Dashboard fonts list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:font-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      {% if font.pk %}
        <a href="{% url "dashboard:font-details" pk=font.pk %}" class="breadcrumbs--ellipsed-item">
          {{ font }}
        </a>
      {% else %}
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Add new font" context "Font form breadcrumbs" %}
        </span>
      {% endif %}
    </li>
    {% if font.pk %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Edit" context "Font form breadcrumbs" %}
        </span>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="tab-content" id="details">
    <div class="row">
      <div class="col m12 l9">
        <form method="post" class="card" id="form-font" novalidate>
          {% csrf_token %}
          <div class="card-content">
            <div class="row">
              <div class="col s12 l8" >
                <div class="row">
                  {{ font_form.name|materializecss }}
                </div>
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if font.pk %}
              <a href="{% url 'dashboard:font-details' font.pk %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:font-list' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
      <div class="col m12 l3 help-box"></div>
    </div>
  </div>
{% endblock %}
