{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load price from taxed_prices %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Fonts" context "Dashboard font list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-fonts-list{% endblock %}

{% block menu_fonts_class %}active{% endblock %}

{% block header_extra %}
    <div class="btn-fab-fixed">
        <a class="btn-fab-default waves-effect waves-light modal-trigger" href="{% url 'dashboard:font-add' %}" title="{% trans "Add font" context "Font list add button text" %}">
          <svg data-src="{% static "dashboard/images/add.svg" %}" />
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Fonts" context "Dashboard fonts list" %}
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9" id="font-list">
    {% if fonts %}
      <div class="card">
        <form method="POST" action="{% url 'dashboard:font-bulk-update' %}" novalidate id="bulk-actions-form">
          {% csrf_token %}
          <input name="action" type="hidden" id="bulk-action" />
          {% include 'dashboard/fonts/../includes/_bulk_actions_bar.html' %}
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
          <thead>
            <tr>
              <th class="bulk-checkbox">
                <input id="select-all-items" type="checkbox" class="filled-in select-all select-item">
                <label for="select-all-items"></label>
              </th>
              {% trans "Name" context "Fonts list table header" as label %}
              {% sorting_header 'name' label %}
            </tr>
          </thead>
          <tbody>
          {% for font in fonts %}
            <tr class="avatar" data-action-go="{% url 'dashboard:font-details' pk=font.pk %}">
              <td class="bulk-checkbox ignore-link">
                <input id="id_fonts_{{ font.pk }}" type="checkbox" name="fonts" value="{{ font.pk }}" class="filled-in select-item">
                <label for="id_fonts_{{ font.pk }}"></label>
              </td>
              <td>
                {{ font.name }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
          </table>
          </div>
        </form>
      </div>
      {% paginate fonts %}
    {% else %}
      {% if not fonts %}
        {% include 'dashboard/fonts/zero_page.html' %}
      {% else %}
        <div class="col s12">
          <div class="not-found">
            <p class="grey-text">
              {% trans "No fonts found." context "Empty font list message" %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endif %}
    </div>
  </div>
{% endblock %}
