.nav-item {
    .nav-link {
        padding: 0;
        font-weight: bold;
        font-size:0.8rem;
    }
}

.sort-by {
    margin-bottom: $global-margin * 2;
}

.product-list-item-name {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

product-list {
    .panel-footer{
        font-size: 0.9rem;
    }
}

.btn {
    border-radius: .25rem;
    color: $white;
    background-color: $button-color;
    border: 1px solid $white;
    font-weight: bold;
    &.home__button {
      color: $body-color;
    }
    &-primary {
      &:hover {
        background-color: $button-color;
        color: rgba($white, 0.6);
      }
    }
}


.search-form {
    .form-control {
        border-radius: .25rem;
        input, select {
            border-radius: .25rem;
            background-color: $gray;
        }
    }
    .btn {
        border: 0;
    }
}

.deliveryform {
    border-radius: .25rem;
    input, select {
        border-radius: .25rem;
        background-color: $gray;
    }
}

.cart-dropdown {
  border: solid 1px $white;
  background-color: $gray;
  h3 {
    color: $white;
    span {
      color: $white;
    }
  }
}

#cart-dropdown-list {
  h3 {
    color: $gray;
  }
  span {
    font-size: 0.6rem;
  }
  .currency {
    font-size: 1rem;
  }
}

.product__customizer {
    margin-bottom: $global-margin;
    h2 {
        text-align: center;
    }
    &__nav {
        background-color:white;
    }
    #layers li {
      padding: $global-padding;
      list-style-type: none;
    }

    .close {
        color: white;
    }
    .close:hover {
            color: red;
        }
}

.footer {
  a {
    &.social-footer {
      background-color: $gray;
    }
  }
}

// Overrides layouts/_cart.scss
.cart {
  h3 {
    color: $gray;
  }
}

// Overrides components/_forms.scss
.form-control, select, input {
  background-color: $gray;
  color: $a-light-blue;
  border: 1px solid $white;
  &:focus {
    color: $white;
  }
  &::placeholder {
    color: $skull-gray;
  }
}

// Overrides components/_header.scss
.navbar {
  &__brand {
    &__cart {
      .cart__icon {
        color: $a-light-blue;
        &.hover {
          text-decoration: none;
          color: $white;
          background: $a-light-blue;
          border: none;
        }
      }
    }
  }
}

// Overrides layouts/_product-list.scss
.product-list {
  &-item-name {
    margin: $global-margin 0 0 0;
    font-weight: bold;
  }
}

// Overrides layouts/_product_page.scss
.product {
  hr {
    background-color: $light-gray;
  }
}
