// GLOBAL
$global-padding: 1rem;
$global-margin: 1rem;
$button-border-radius: 12px;

// COLORS
$body-color: white;
$white: #0a0a0a;
$light-gray: #d6dee0;
$gray: #e5eced;
$darken-gray: darken($gray, 10%);
$skull-gray: #6c8285;
$blue: #26a5d4;
$darken-blue: darken($blue, 10%);
$dark-blue: #21125e;
$red: #eb5757;
$dark-red: #c53636;
$green: #27ae60;
$beige: #fffaec;
$turquoise: #13bebb;
$light-turquoise: #3ee7cd;

// arivarton
$a-button-hover: #465c5f;
$button-color: #c7d6d8;
$button-hover: #465c5f;
$a-light-blue: $button-color;

// TYPOGRAPHY
$font-family-sans-serif: "Lato", sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1rem;

$theme-colors: (
  primary: $a-light-blue,
  secondary: $white,
  success: $green,
  info: $turquoise,
  warning: #ffc107,
  danger: $red,
  light: #f8f9fa,
  dark: #343a40
);
