{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:font-delete' pk=font.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove font text" %}
  Remove font {{ font }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove font text" %}
      Are you sure you want to remove font <strong>{{ font }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
